* {
    --aitip_white: #FFF;
    --aitip_bg_grey: #F5F5F5;
    --bgcolor: #EEEEEE;
    --aitip_grey: #999999;
    --aitip_black: #292D32;
    --aitip_blue: #497AD8;
    --aitip_red: #AD4820;
    --main_part_width: 100%;
    --document_icon_size: 40px;
    --default_border_radius: 10px;
    --default_border_width: 1px;
    font-family: "Open Sans", sans-serif;
}

:root {
    --default_font_size: 19px;
    --subheading_font_size: 23px;
    --heading_font_size: 29px;
    font-size: var(--default_font_size);
}

h1 {
    font-size: var(--heading_font_size);
}

h2, h3 {
    font-size: var(--subheading_font_size);
}

p {
    white-space: pre-wrap;
    /*text-indent: 30px;*/
}

body {
    background-color: var(--bgcolor);
}

.rootContainer {
    background-color: var(--bgcolor);
    display: flex;
    flex-direction: row;
}

.sideBar {
    width: 20%;
    padding: 30px 0 5px 0;
}

.content {
    width: calc(100% - 20%*2);
    padding: 30px 0; 
}

.blue_page_title{
    color: var(--aitip_blue);
    font-size: var(--heading_font_size);
    font-weight: 700;
    margin-left: 3%;
}

.blue_section_title{
    color: var(--aitip_blue);
    font-size: var(--subheading_font_size);
    font-weight: 700;
    margin-left: 3%;
}

.small_grey_link_to_block{
    border: none;
    background-color: white;
    color: var(--aitip_grey);
    font-size: var(--default_font_size);
}

.news_container{
    display: grid;
    flex-wrap: wrap;
}

.news_container > *{
    width: 50%;
}

.event_container{
    display: flex;
    align-items: center;
}

.event_date{
    color: #d86b49;
    font-weight: bold;
    width: 40px;
    text-align: center;
    font-size: calc(var(--default_font_size) * 0.9);
}

.event_container > *{
    margin: 5px 0 5px 30px;
}

.know_more_about{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto auto;
    gap: calc(10px + 0.005%);
    margin-top: 20px;
    padding: 20px 0;
    background: #eeeeee;
    color: white;
}

.know_more_about > * {
    /*width: 50px;*/
    height: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

    border-radius: var(--default_border_radius);
    background: #FFF;
}

.know_more_about > *  p{
    margin: auto !important;
    color: #FFF;
    font-size: var(--default_font_size);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

li > span.list_element_header{
    font-weight: bold;
}

.block_title{
    text-align: left;
    color: var(--aitip_blue);
    font-weight: bold;
    font-size: var(--default_font_size);
    margin: 30px 0 20px 0;
}

.in_block_title{
    font-weight: bold;
    padding: 20px 3%;
}

.lines_margin_between{
    margin-top: clamp(16px, 100vh / 12, 80px);
}

.lines_margin_between_half{
    margin-top: clamp(8px, 100vh / 24, 40px);
}

.lines_margin_between_two-thirds{
    margin-top: clamp(12px, 100vh / 18, 60px);
}

.bachelor{
    margin-top: 10px;
}

.bachelor li{
    /*margin: 15px 30px;*/
    margin-left: 30px;
}

.bachelor > ul:last-child {
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.bachelor > ul:last-child > li {
    width: auto
}

.Block > div > ul, .Block > div > p{
    margin-left: clamp(20px, 100vw / 19.2, 100px);
    margin-right: clamp(20px, 100vw / 19.2, 100px);
}

.know_more_about_block p{
    margin-bottom: 0;
}

.know_more_about .active {
    font-weight: bold;
}

.know_more_about_block .extended_description{
    margin: 0 clamp(20px, 100vw / 24, 80px);
}

.graduates{
    padding: 10px 5%;
    font-size: var(--default_font_size);
    font-weight: 600;
    text-align: justify;
}

.graduates .carusel{
    margin: 0 -5.3%;
    width: 110.5%;
}

.adm_add{
    grid-row: span 2;
    grid-column: span 2;
    height: auto;
}

.adm_add, .postuplenie{
    background-color: #9fb7e6;
}

.adm_add.active, .postuplenie.active{
    background: #4081ff;
}

.adm_bac{
    grid-column: span 2;
    background-color: #497ad8;
}

.adm_bac.active{
    background-color: #236cff;
}

.science, .partners{
    background-color: #e6b09f;
}

.science.active, .partners.active{
    background: #d86b49;
}

.history, .teachers{
    color: #929396;
}

.history.active, .teachers.active{
    background: darkgray;
    color: white;
}



.news_container{
    display: flex;
    flex-wrap: wrap;
}

.news_container > *{
    width: calc(50% - 20px);
    margin: 0 10px;
    text-decoration: none;
}

.news_container > * > *{
    width: 100%;
    border-radius: var(--default_border_radius);
    font-weight: bold;
    margin-top: 5px;
    color: #000;
}

.news_container > * > img{
    height: 16vw;
}

.admission_info_commission{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-left: clamp(20px, 100vw / 19.2, 100px);
    margin-right: clamp(60px, 100vw / 19.2 * 3, 300px);
}

.admission_info_commission > div > p:first-child {
    font-size: calc(var(--default_font_size) * 1.2);
    font-weight: bold;
}

.admission_info_commission a, .admission_info_commission a:visited{
    text-decoration: none;
    color: black;
}

.entrance_exams_points{
    margin: 20px clamp(20px, 100vw / 19.2, 100px) 0 clamp(20px, 100vw / 19.2, 100px);
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-size: 50% 42%;
}


.mySlides{
    margin: 0 -5%;
    width: 100%;
}
.prev, .next {
    position: relative;
}
.news_date {
    margin: 0 30px;
    padding-bottom: 30px;
    bottom: 30px;
    text-align: right;
    font-weight: 700;
    color: var(--aitip_red);
}
.slideshow-container{
    padding: 0;
}
/*------------------------*/

@media (max-width: 1600px) {
    .sideBar {
        width: 18%;
    }

    .content {
        width: calc(100% - 18%*2);
    }
}

@media (max-width: 1156px) {
    .sideBar {
        display: none;
    }

    .content {
        width: 100%;
        padding: 30px 2%;
    }
}

@media (max-width: 900px) {
    .adm_add{
        grid-row: span 1;
        height: 150px;
    }

    .know_more_about{
        grid-template-columns: repeat(3, 1fr);
    }

    .history{
        grid-row: 2;
        grid-column: 3;
    }

    .science{
        grid-row: 3;
    }

    .know_more_about > * {
        height: 120px;
    }

    .news_container > *{
        width: calc(100% - 20px);
    }
    .news_container > * > img{
        height: 35vw;
    }
}

@media (max-width: 500px) {
    .entrance_exams_points{
        grid-template-columns: 1fr;
    }
    .admission_info_commission{
        grid-template-columns: 1fr;
    }
}