* {
    --bgcolor: #EEEEEE;
    --aitip_grey: #999999;
    --aitip_black: #292D32;
    --aitip_blue: #076DB1;
    --aitip_red: #AD4820;
    --main_part_width: 100%;
    --document_icon_size: 40px;
    --font_size_const: 16px;
    font-family: "Open Sans", sans-serif;
}

.rootContainer {
    background-color: var(--bgcolor);
    display: flex;
    flex-direction: row;
}

.sideBar {
    width: 20%;
    padding: 30px 0 5px 0;
}

.content {
    width: calc(100% - 20%*2);
    padding: 30px 0; 
}

.small_grey_link_to_block{
    border: none;
    background-color: white;
    color: var(--aitip_grey);
    font-size: var(--font_size_const);
}

@media (max-width: 1600px) {
    .sideBar {
        width: 18%;
    }
    
    .content {
        width: calc(100% - 18%*2);
    }
}

@media (max-width: 1156px) {
    .sideBar {
        display: none;
    }
    
    .content {
        width: 100%;
        padding: 30px 2%;
    }
}