.Block {
    background-color: var(--aitip_white);
    border-radius: var(--default_border_radius);
    box-sizing: border-box;
    display: grid;
}

.Block-header {
    text-align: center;
    margin: 0 clamp(20px, 100vw / 19.2, 100px);
    padding-top: clamp(10px, 100vh / 18, 40px);
    font-size: var(--heading_font_size);
    font-weight: 700;
}

.Block > .StyledText-container {  /* Стили для дочерних линий текста в блоке  */
    margin: clamp(10px, 100vh / 18, 40px) clamp(10px, 100vw / 19.2 - 10px, 80px) 0 clamp(10px, 100vw / 19.2 - 10px, 80px);
}

.Block:not(:last-child) {
    margin: 0 0 30px 0;
}

.BlockContainer {
    padding: 30px 20px 30px 20px;
}

/* Lines styles */

.Card {
    display: flex;
    flex-direction: column;
    background-color: var(--aitip_white);
    border-radius: var(--default_border_radius);
    justify-content: space-between;
    margin-top: clamp(10px, 100vh / 18, 40px);
    column-gap: clamp(20px, 100vw / 30, 60px);
}

.Card:last-child {
    padding-bottom: clamp(15px, 100vh / 12, 60px);
}


.Card-left {
    flex-direction: row;
    margin-right: clamp(20px, 100vw / 19.2, 100px);
}

.Card-right {
    flex-direction: row-reverse;
    margin-left: clamp(20px, 100vw / 19.2, 100px);
}

.Card-image img {
    width: 100%;
    height: 100%;
    align-self: flex-end;
    border-radius: var(--default_border_radius);
    object-fit: cover;
}

.Card-image-left, .Card-image-right {
    max-width: 50%;
    width: 100%;
    display: flex;
}

.Card-body {
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.Card-body-left .StyledText-container {
    margin-left: clamp(20px, 100vw / 30, 100px);
}

.Card-body-left, .Card-body-right {
    width: 60%;
}

/* Спец. стили для исчезающей картинки сверху и снизу для BigImg */
.FadingImg-top-and-bottom {
    /* Случай, когда картинка - между какими-то линиями в блоке. Тогда эффекты исчезновения и сверху, и снизу */
    -webkit-mask:   linear-gradient(to top, transparent 15%, #fff 0% calc(100% - 15%), transparent 98%),
    linear-gradient(to bottom, transparent 15%, #fff 0% calc(100% - 15%), transparent 98%);
    mask:   linear-gradient(to top, transparent 15%, #fff 0% calc(100% - 15%), transparent 98%),
    linear-gradient(to bottom, transparent 15%, #fff 0% calc(100% - 15%), transparent 98%);
}

.FadingImg-top-and-bottom:first-child {
    /* Случай, когда картинка - первая линия. Тогда эффект исчезновения только снизу */
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1) 30%);
    mask-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1) 30%);
}

.FadingImg-top-and-bottom:last-child {
    /* Случай, когда картинка - последняя линия. Тогда эффект исчезновения только сверху */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1) 30%);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1) 30%);
}

.FadingImg-right {
    /* Случай, когда картинка - первая линия. Тогда эффект исчезновения только снизу */
    -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 30%);
    mask-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 30%);
}

.FadingImg-left {
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1) 30%);
    mask-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1) 30%);
}

.RoundedImg {
    padding: 20px;
}

.RoundedImg-img {
    background-size: cover;
    background-position: center; /*FIXME*/
    border-radius: 100%;
    aspect-ratio: 1 / 1;
}

.Card-image > .RoundedImg > .RoundedImg-img {
    height: 280px;
    width: 280px;
}

.Card-image-left > :not(.FadingImg-left, .FadingImg-right) {
    margin-left: clamp(20px, 100vw / 19.2, 100px);
}

.Card-image-right > :not(.FadingImg-left, .FadingImg-right) {
    margin-right: clamp(20px, 100vw / 19.2, 100px);
    max-width: calc(100% - clamp(20px, 100vw / 19.2, 100px));
}

.Card-image-rounded > .RoundedImg {
    height: 280px;
    width: 280px;
    padding: 0;
}

.Card-image-rounded.Card-image-left, .Card-image-rounded.Card-image-right {
    width: clamp(300px, 100vw / 19.2 + 280px, 380px);
}

.BigImg {
    /*height: 100%;*/
    width: calc(100% - 120px);
    justify-self: center;
    min-height: 50%;
    min-width: 50%;
    object-fit: contain;
    border-radius: var(--default_border_radius);
}

.BigImg:not(.FadingImg-top-and-bottom, .slideshow-container){
    margin: clamp(10px, 100vh / 18, 40px) clamp(20px, 100vw / 19.2, 100px) 0 clamp(20px, 100vw / 19.2, 100px);
    width: calc(100% - clamp(20px, 100vw / 19.2, 100px) * 2);
    max-height: 90vh;
}

.BigImg:last-child:not(.FadingImg-top-and-bottom) {
    padding-bottom: clamp(15px, 100vh / 12, 60px);
}

@media (max-width: 600px) {
    .Card-left, .Card-right {
        flex-direction: column;
        margin: 0 clamp(20px, 100vw / 19.2, 100px);
    }

    .Card-image-left, .Card-image-right {
        width: 100%;
        max-width: 100%;
    }

    .Card-body-left {
        width: 100%;
    }

    .Card-body-right {
        width: 100%;
    }

    .BigImg {
        width: 100%;
    }

    .FadingImg-right {
        -webkit-mask:   linear-gradient(to top, transparent 25%, #fff 0% calc(100% - 25%), transparent 95%),
        linear-gradient(to bottom, transparent 25%, #fff 0% calc(100% - 25%), transparent 95%);
        mask:   linear-gradient(to top, transparent 25%, #fff 0% calc(100% - 25%), transparent 95%),
        linear-gradient(to bottom, transparent 25%, #fff 0% calc(100% - 25%), transparent 95%);
    }

    .FadingImg-left {
        -webkit-mask:   linear-gradient(to top, transparent 25%, #fff 0% calc(100% - 25%), transparent 95%),
        linear-gradient(to bottom, transparent 25%, #fff 0% calc(100% - 25%), transparent 95%);
        mask:   linear-gradient(to top, transparent 25%, #fff 0% calc(100% - 25%), transparent 95%),
        linear-gradient(to bottom, transparent 25%, #fff 0% calc(100% - 25%), transparent 95%);
    }
}