.button_list{
    text-align: center;
    background-color: var(--aitip_white);
    margin: 0 -5.6%;
    padding: 20px 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button_list > button {
    width: calc(50% - 20px);
    background: var(--aitip_bg_grey);
    display: inline-block;
    min-height: 90px;
    padding: 0 8px;
    text-align: center;
    border-radius: 10px;
    border-width: 0;
    color: #000000;
    margin: 10px 10px;
}

.button_list > button:active{
    background: #FFFFFF;
    /*scale: 1.15;*/
    color: #000000;
}

.button_list > button:hover{
    background: #FFFFFF;
    scale: 1.1;
    color: #000000;
}

.button_list > button:focus{
    background: #FFFFFF;
    font-weight: bold;
}

.button_list > button.stretch{
    width: 100%;
}
