.w-md-editor-text-pre > code,
.w-md-editor-text-input {
    font-size: 18px !important;
    line-height: 20px !important;
}


.im  {
    border-style: none;
    width: 200px;
    height: 200px;
    max-width: 100%;
    box-sizing: content-box;
    background-color: var(--color-canvas-default);
}

.own_black {
    color: var(--aitip_black);
}

.own_grey {
    color: var(--aitip_grey);
}

.own_blue {
    color: var(--aitip_blue);
}

.own_red {
    color: var(--aitip_red);
}

.font_small {
    font-size: calc(var(--font_size_const) * 0.7);
}

.font_usual {
    font-size: var(--font_size_const);
}

.font_upper {
    font-size: calc(var(--font_size_const) * 1.25);
}

.font_big {
    font-size: calc(var(--font_size_const) * 1.5);
}