.faq_container{
    background: #FFFFFF;
    margin-top: 30px;
}

.faq_container > p.title{
    font-size: calc(var(--default_font_size)* 1.3);
    text-align: center;
    font-weight: bold;
}

p.faq_question{
    font-size: calc(var(--default_font_size)* 1.2) !important;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin: 0;
}

.faq_answer_container.hidden{

}

.faq_answer_container{
    overflow: hidden;
    margin: 0 0 20px 0;
    font-size: var(--default_font_size);
    height: 0;
    transition: height 0.3s ease-in-out;
}