.main_footer{
    margin: 0;
    padding: 0;
    background: var(--aitip_blue);
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
    display: grid;
    padding-left: 160px;
    grid-template-columns: 1fr 1fr;
}

.headings {
    font-size: calc(var(--font_size_const));
    font-weight: bold;
    color: white;
}

.main_text{
    font-size: calc(var(--font_size_const)*0.8);
    font-weight: normal;
    padding-bottom: 10px;
}

.footer {
    flex: 0 0 auto;
}