.aitip_footer {
    background-color: var(--aitip_blue);
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    flex-direction: row;
    padding: 20px;
    margin-top: 20px;
    flex-flow: row wrap;
    flex-wrap: wrap;
}

/*.aitip_footer > div {*/
/*    width: calc(45% - 30px);*/
/*    text-align: left;*/
/*    margin-left: calc(5% + 30px);*/
/*    !*margin-top: 30px;*!*/
/*}*/

.footer-link-block{
    width: calc(45% - 30px);
    text-align: left;
    margin-left: calc(5% + 30px);
}


.aitip_footer > div > div {
    margin-top: 30px;
}

.aitip_footer .feedback a{
    /*color: var(--aitip_grey);*/
    text-decoration: none;
    margin: auto;
}

.aitip_footer .feedback{
    margin-top: 15px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.aitip_footer .feedback > *{
    margin: 5px auto;
    flex: 0 1 110px;

}

.aitip_footer .feedback > a{
    padding: 12px 0;
}

@media (max-width: 768px){
    .aitip_footer > div {
       width: 100%;
    }
}