.topnav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    background-color: var(--aitip_blue);
    margin-top: 60px;
    font-size: var(--default_font_size);
    gap: 25px;
}

.topnav > a, .topnav > div {
    justify-content: center;
    color: #f2f2f2;
    padding: 11px 5px;
    text-decoration: none;
}

.topnav a:hover {
    color: white;
}

.topnav .icon {
    display: none;
}

.logo{
    position: absolute;
    left: calc(20% - 150px - 25px);
    z-index: 1000;
}

.vuz-name {
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin-left: 20%;
    width: 60%;
}

.heading_color{
    color: white;
    margin: auto;
    white-space: nowrap;
}

.search-form {
    position: relative;
    margin
    : 0 auto;
    width: 30%;
    height: 40px;
    min-width: 100px;
    align-items: center;
}

.search-input {
    width: 100%;
    height: 35px;
    padding: 0 45px 0 15px;
    border: 2px solid white;
    border-radius: 5px;
    outline: none;
    color: black;
}

.Search {
    width: 12%;
}

.Search > form {
    display: flex;
}

.Search-input {
    flex: 3;
    width: 100%;
    min-width: 50px;
}

.Search-submit {
    flex: 1;
    width: 100%;
}

.button_search {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-width: 0 0 0 2px;
    border-color: #8F8F8F;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.search-output-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.search-output-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    width: 70%;
}

.search-output-modal-content > * {
    display: block;
    margin: 5px 0;
    color: black;
}

.search-output-modal-content > a:hover {
    color: var(--aitip_blue);
    text-decoration: none;
}

.blindversion {
    line-height: 1.35;
    position: relative;
    display: flex;
    max-width: 250px;
    /*margin: 0;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*text-justify: auto;*/
    color: #f2f2f2;
    border: none;
    cursor: pointer;
    background: var(--aitip_blue);
}

.blindversion-inactive {
    filter: brightness(100%);
}

.blindversion-active {
    filter: brightness(80%);
}

.bottom_menu {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 calc(20% + 25px);
    background-color: var(--bgcolor);
    font-size: var(--default_font_size);
}

.bottom_menu a {
    display: inline-block;
    color: black;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-family: "Open Sans",sans-serif;

}

.dropdown-content li {
    marker: none;
}
.dropdown-content a {
    padding: 11px 5px;
    flex-direction: column;
    width: max-content;
}

.bottom_menu a:hover {
    text-decoration: underline;
}

.dropdown {
    display: inline-block;
    padding: 11px 7px;
    /*width: auto;*/
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    color: var(--aitip_black);
    width: auto;
    min-width: 160px;
    z-index: 1001;
    left: 0;
    border-radius: var(--default_border_radius);
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, .1);
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: 0.7s ease-in-out;
    padding: 0;
    list-style-type: none;
}

.dropdown-button {
    color: black;
    text-decoration: none;
    display: inline-block;
    text-align: left;
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding: 0;
}

.dropdown > div:hover .dropdown-content {
    opacity: 1;
    transform: scaleY(1);
}

.dropdown-content a:hover {
    color: var(--aitip_black);
    display:inline-block;
}

.dropdown:hover .dropdown-content {
    display: inline-block;;
}

@media (max-width: 1600px) {
    .logo{
        left: calc(18% - 150px - 25px);
    }
    .vuz-name{
        margin-left: calc(18% - 5px);
        width: 64%;
    }
    .bottom_menu{
        margin: 0 calc(18% + 25px);
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 950px){

    .topnav {
        max-height: 100px;
        z-index: -1000;
    }

    .logo{
        height: 150px;
        margin-top: -50px
    }
}

@media screen and (max-width: 1250px){
    .Search {
        display: none;
    }

    .bottom_menu {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1156px){
    .bottom_menu {
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 15vw;
    }
}

@media screen and (max-width: 950px){
    .search-form{
        width: 90%;
    }

    .Search {
        width: 80%;
    }

    .topnav {
        height: 100%;
        display: block;
        margin-top: 30px;
    }

    .topnav.responsive {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bottom_menu {
        margin-left: 0;
    }

    .blindversion {
        max-width: 100%;
    }

    .topnav a:not(:first-child){display: none;}
    .topnav button{display: none;}
    .topnav > div {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }

    .bottom_menu a {
        display: none;
    }

    .logo{
        left: 5%;
        height: 105px;
        margin-top: -25px
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    .topnav.responsive > div {
        display: block;
    }

    .bottom_menu.responsive {
        position: relative;
    }

    .bottom_menu.responsive a {
        float: none;
        display: block;
        text-align: center;
        color: black;
    }

    .logo.responsive {
        display: none;
    }

    .vuz-name.responsive {
        margin-left: 0;
        float: left;
        /*font-size: 16px;*/
    }

    .heading_color {
        white-space: normal;
    }
}