.StyledText-container {
    display: grid;
    /*gap: 0 20px;*/
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    padding: calc(clamp(10px, calc(10px + 0.01vw), 50px) * 2) clamp(10px, calc(10px + 0.01vw), 50px) ;
    width: calc(100% - 60px);
    margin: auto;
}

.Card-body > .StyledText-container {
    padding: unset;
    margin: auto 0;
}

.StyledText-column {
    margin: 0 clamp(5px, 0.5vw, 20px);
    padding-bottom: 1px;
    word-wrap: normal;
}

.StyledText-mdText {
    word-wrap: normal;
    border-width: var(--default_border_width);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: var(--default_border_radius);
    font-size: var(--default_font_size);
}

.StyledText-container:last-child {
    padding-bottom: clamp(10px, 100vh / 20, 40px);
}

.StyledText-mdText h1  {
    font-size: var(--heading_font_size);
    border-bottom: none;
    font-weight: 700;
}

.StyledText-mdText h2, .StyledText-mdText h3  {
    font-size: var(--subheading_font_size);
}

.StyledText-mdText strong {
    font-weight: 700;
}

.StyledText-mdText-bg {
    padding: 10px 20px;
    margin: 0 -20px;
}

.StyledText-mdText-bg-grey {
    /*padding: 26px 20px;*/
    background-color: var(--aitip_bg_grey);
}

.StyledText-mdText-border {
    padding: 10px 20px;
}

.StyledText-mdText-border-grey {
    border-color: var(--aitip_grey);
}

.StyledText-mdText-border-blue {
    border-color: var(--aitip_blue);
}

.StyledText-mdText-border-red {
    border-color: var(--aitip_red);
}

.StyledText-mdText table {
    font-size: calc(10 * 0.05vw + 4px);
    /*width: 100%;*/
    margin-left: calc(-15px - 1vw);
}

.StyledText-mdText table th{
    padding: 0.3vh 0.15vw;
}

.StyledText-mdText table tr {
    width: content-box;
}

.StyledText-mdText table td{
    padding: 0.01vw;
    text-align: center;
}


@media (max-width: 500px) {
    .StyledText-container {
        gap: 20px 0;
        grid-auto-flow: row;
    }
}

@media (max-width: 1300px) {
    .StyledText-mdText table {
        font-size: calc(10 * 0.02vw + 7px);
    }
}

@media (max-width: 700px) {
    .StyledText-mdText table {
        font-size: calc(30 * 0.025vw);
    }
}

