.StyledText-container {
    display: grid;
    gap: 0 20px;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
}

.StyledText-column {
    word-wrap: normal;
}

.StyledText-mdText {
    word-wrap: normal;
    height: 100%;
    border-width: var(--default_border_width);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: var(--default_border_radius);
    font-size: var(--font_size_const);
}

.StyledText-mdText p {
    word-break: break-all;
}

.StyledText-mdText-bg {
    padding: 10px 20px;
}

.StyledText-mdText-bg-grey {
    background-color: var(--aitip_bg_grey);
}

.StyledText-mdText-border {
    padding: 10px 20px;
}

.StyledText-mdText-border-grey {
    border-color: var(--aitip_grey);
}

.StyledText-mdText-border-blue {
    border-color: var(--aitip_blue);
}

.StyledText-mdText-border-red {
    border-color: var(--aitip_red);
}

@media (max-width: 500px) {
    .StyledText-container {
        gap: 20px 0;
        grid-auto-flow: row;
    }
}