.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    width: calc(100% - 60px);
    height: 100%;
    margin: 30px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 60px);
    height: 100%;
    margin: 30px;
}