.person_block {
    margin-bottom: 10px;
    border-radius: 10px;
    background: white;
}

.block_content {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    cursor: pointer;
}

.ava_img {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.description_block {
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 10px;
    position: relative;
}


.button_row {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    margin-left: 190px;
    margin-top: 10px;
}

.description_buttons {
    border: none;
    width: 120px;
    min-height: 80px;
    border-radius: 10px;
}

.big_avatar {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: auto;
}

.staffer_name {
    font-size: var(--font_size_const);
    font-weight: bold;
    margin: 10px;
}

.general_desc {
    font-size: calc(var(--font_size_const) * 0.85);
    margin: 10px;
}


.personal_data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
}

.data_part {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-bottom: 10px;
}

.data_part:last-child {
    grid-column: span 2;
}

.data_icon {
    width: 30px;
    height: 25px;
    padding-right: 5px;
}

.top_block_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top_content {
    display: flex;
    flex-wrap: nowrap;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: white;
}

.text_block {
    padding: 10px 5%;
}

.text_desc {
    padding: 10px;
    margin: 5px;
    background: var(--bgcolor);
    border-radius: 5px;
    font-size: var(--font_size_const);
    text-align: justify;
}

.text_block_active {
    background: white;
    border-radius: 5px;
    justify-content: left;
    margin-top: -10px;
}

.text_bg_active {
    background: var(--bgcolor);
    border: 10px white solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

.staffer_item_opened {
    width: 100%;
    background: #FFF;
    margin-bottom: 20px;
    border-radius: 10px;
}

.description_block{
    width: 100%;
}

.small_button_list > button{
    min-width: 0 !important;
    width: 120px;
    height: 60px;
    max-width: calc(50% - 36px);
}

.small_button_list{
    width: 100%;
    flex-wrap: wrap;
    padding: 10px;
}

@media (max-width: 800px) {
    .description_block{
        flex-direction: column;
    }
}

@media (max-width: 300px){
    .data_part{
        grid-column: span 2;
    }
}


@media screen and (min-width: 1501px) {
    .description_block {
        min-width: 740px;
    }

    .button_row {
        margin-left: 370px;
    }

    .text_block_active {
        min-width: 740px;
        margin-left: 160px;
    }

    .text_bg_active {
        min-width: 740px;
    }

}

@media screen and (max-width: 1500px) and (min-width: 601px) {

    .text_block_active {
        width: 660px;
    }

    .text_bg_active {
        width: 660px;
    }


}


/*TODO Сделать версию для телефонов с нормальным блоком описания*/
@media screen and (max-width: 600px) {
    .description_block {
        min-width: 200px;
    }
}