#logoimage {
  width: 70px;
}

.navitems {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.4em;
}

@media (min-width: 991px) {
  .navitems {
    margin: 0px 45px 0px 45px;
  }
}

@media (min-width: 1200px) {
  #logoimage {
    margin-left: 100%;
  }
}

